<p id='notice'><%= notice %></p>
<h1>Welcome to Knockoff Facebook!</h1>
<% if current_user %>
  Logged in as <%= current_user.user_name %>.
  <p><%= button_to "Home Page", users_path, :method => 'get' %></p>
  <p><%= button_to "Log out", logout_path, :method => 'get' %></p>
<% else %>
  <p><%= button_to "Log in", login_path, :method => 'get' %></p>
  <p>
    &nbsp;For new users, <br><br>
    <%= button_to "Sign up", signup_path, :method => 'get' %>
  </p>
<% end %>

